.experiments-bubbly-shadow {
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05),
    0 8px 10px -6px rgba(0, 0, 0, 0.05);
}

.experiments-thin-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.experiments-thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.experiments-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.experiments-thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
